html, body { margin: 0; padding: 0; }

body {
  font-family: 'Helvetica Neueu', Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #333;
}


.container { width: 70%; margin: 0 auto; }
